.App {
  text-align: center;
}

.DisplayQuote {
  text-align: center;
  font-size: 15px;
}
h3 {
  font-weight: normal;
}
button {
  display: block;
  margin: 0 auto;
  color: brown;
  font-weight: bold;
  text-transform: capitalize;
  width: 200px;
  font-size: 30px;
}


